<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>Open Source Debate AI</title>
  <meta name="author" content="Joseph Semrai">
  <meta name="description" content="Help train AI to write.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static "uploader/css/main.css" %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static "uploader/js/main.js" %}"></script>

</head>

<body>

        <div class="more-pens">
                <a target="_blank" href="https://codepen.io/plasm/pen/OpZQdB" class="white-mode">
              Check out the project on GitHub</a> or 
                <a target="_blank" href="https://codepen.io/plasm/" class="white-mode">Apply to join the main fork</a>
              
              </div>
              <div class="background"></div>
              <div class="title">
                <h3>The first multi-layer recurrent neural network (LTSM, RNN) for debate language models</h3>
                <br>
                <h1>Help Reduce Socioeconomic Inequality in Debate</h1>
                <hr>
                <h2>Open Source Debate Artificial Intelligence</h2>
              </div>
                

</body>

</html>